baseURL: https://jaswdr.dev/
title: Jonathan's Blog
languageCode: en-us
theme: DoIt

enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
enableGitInfo: true

googleAnalytics: "G-TQDRG59SG2"

minify:
  disableXML: true
  minifyOutput: true

outputs:
  home:
    - HTML
    - RSS
    - JSON

pagination:
  pagerSize: 5

params:
  version: 0.4.X
  title: "Jonathan's Blog"
  description: "This is my personal blog, all opinions here are by me own"
  keywords: [Blog, Portfolio, Jonathan, Schweder, jaswdr]
  defaultTheme: dark
  gitRepo: https://github.com/jaswdr/blog
  fingerprint: ""
  dateFormat: "January 2, 2006"
  images: ["/images/me.webp"]

  # Author config
  author:
    name: Jonathan Schweder
    email: blog@jaswdr.dev
    link: https://github.com/jaswdr
    avatar: /images/me_homepage.webp

  # Header config
  header:
    themeChangeMode: switch
    title:
      logo: ""
      name: "Jonathan's Blog"
      pre: ""
      post: ""
      typeit: false

  # Footer config
  footer:
    enable: true
    custom: ''
    hugo: false
    hostedOn: ''
    copyright: true
    author: true
    since: 2019
    license: ''

  # Section (all posts) page config
  section:
    paginate: 20
    dateFormat: "01-02"
    rss: 10

  # Home page config
  home:
    profile:
      enable: true
      title: Jonathan Schweder
      subtitle: "SysDE @mongodb, Go and Python Developer, Cloud, DevOps"
      avatarURL: /images/me_homepage.webp
      social: true
    posts:
      enable: true
      paginate: 5

  # Social config
  social:
    Email: blog@jaswdr.dev
    GitHub: jaswdr
    Linkedin: jaswdr
    RSS: true

  # Page config
  page:
    hiddenFromHomePage: false
    hiddenFromSearch: false
    twemoji: false
    lightgallery: false
    ruby: true
    fraction: true
    linkToMarkdown: false
    linkToSource: false
    linkToEdit: https://github.com/jaswdr/blog/blob/master/content/{path}
    linkToReport: false
    rssFullText: false
    seriesNavigation: true
    enableLastMod: true
    enableWordCount: true
    enableReadingTime: true

    toc:
      enable: true
      keepStatic: false
      auto: true

    code:
      maxShownLines: 50
      lineNos: true
      wrap: false
      header: true

    table:
      sort: true

    share:
      enable: true
      Twitter: true
      Facebook: true
      Linkedin: true
      HackerNews: true
      Reddit: false
      Telegram: true
      Weibo: false

    comment:
      enable: false

    seo:
      images: ["/images/me.webp"]
      publisher:
        name: "Jonathan Schweder"
        logoUrl: "/images/me_homepage.webp"

  # Site verification
  verification:
    google: "xg7_-60jJi4jGSiIfAzErzqY3Xaee4-5wl2uLEcsngY"
    bing: "9FFB14C766FC18ECB4085A5F9C1A1E3D"
    yandex: "5c8d99f1d8bae7b0"

  # Analytics config
  analytics:
    enable: true
    google:
      id: "G-TQDRG59SG2"
      anonymizeIP: true

  # Search config
  search:
    enable: true
    type: fuse
    contentLength: 4000
    placeholder: ""
    maxResultLength: 10
    snippetLength: 30
    highlightTag: em
    absoluteURL: false
    fuseOptions:
      isCaseSensitive: false
      minMatchCharLength: 2
      findAllMatches: false
      location: 0
      threshold: 0.3
      distance: 100
      ignoreLocation: false
      useExtendedSearch: false
      ignoreFieldNorm: false

menu:
  main:
    - identifier: github
      pre: "<svg class='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 496 512'><path d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z'/></svg>"
      name: Github
      url: https://github.com/jaswdr
      weight: 30
    - identifier: cv
      pre: "<svg class='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'><path d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48zm250.2-143.7c-12.2-12-47-8.7-64.4-6.5-17.2-10.5-28.7-25-36.8-46.3 3.9-16.1 10.1-40.6 5.4-56-4.2-26.2-37.8-23.6-42.6-5.9-4.4 16.1-.4 38.5 7 67.1-10 23.9-24.9 56-35.4 74.4-20 10.3-47 26.2-51 46.2-3.3 15.8 26 55.2 76.1-31.2 22.4-7.4 46.8-16.5 68.4-20.1 18.9 10.2 41 17 55.8 17 25.5 0 28-28.2 17.5-38.7zm-198.1 77.8c5.1-13.7 24.5-29.5 30.4-35-19 30.3-30.4 35.7-30.4 35zm81.6-190.6c7.4 0 6.7 32.1 1.8 40.8-4.4-13.9-4.3-40.8-1.8-40.8zm-24.4 136.6c9.7-16.9 18-37 24.7-54.7 8.3 15.1 18.9 27.2 30.1 35.5-20.8 4.3-38.9 13.1-54.8 19.2zm131.6-5s-5 6-37.3-7.8c35.1-2.6 40.9 5.4 37.3 7.8z'/></svg>"
      name: My CV
      url: https://github.com/jaswdr/cv/raw/gh-pages/Jonathan_Schweder_CV.pdf
      weight: 40

markup:
  highlight:
    anchorLineNos: false
    codeFences: true
    guessSyntax: true
    lineNos: true
    noClasses: false
    style: monokai
  goldmark:
    renderer:
      unsafe: true
  tableOfContents:
    startLevel: 2
    endLevel: 6
