<!-- General Overrides -->
<style type="text/css">
input, select, textarea{color:#dadadb}
</style>
<!-- General Overrides -->

<!-- Mailchimp -->
<style type="text/css">
#mc_embed_signup{background:#1d1e20; clear:left; font:14px Helvetica,Arial,sans-serif;  width:100%;}
</style>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/1ed94c8b84a800e99cca4f2a7/dd227fd124d4c6f9194d31acf.js");</script>
<!-- Mailchimp -->
