{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $title := .Get "title" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}

<div class="image-center">
    <img 
      src="{{ $src }}"
      alt="{{ $alt }}"
      width="{{ $width }}"
      height="{{ $height }}"
      decoding="async"
      class="mx-auto border-4 border-gray-500 rounded-lg shadow-md"
    />
    {{ with $title }}
      <div class="mt-2 italic text-sm text-gray-600 dark:text-gray-400">
        {{ . }} - <a href="{{ $src }}" target="_blank" class="text-primary hover:underline">Link</a>
      </div>
    {{ end }}
</div>
